<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/stylesheets/base.css">
    <link rel="stylesheet" href="/stylesheets/common.css">
    <link rel="stylesheet" href="/stylesheets/icon.css">
    <link rel="stylesheet" href="/stylesheets/book-list.css">

    <script src="/javascripts/jquery-3.2.1.js"></script>
    <script src="/components/react/react.js"></script>
    <script src="/components/react/react-dom.js"></script>
    <script src="/components/react/browser.min.js"></script>
    <script type="text/babel" src="/javascripts/book-list.js"></script>

</head>
<body>
<div id="content" class="content"></div>
</body>
</html>