<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/book-detail.css">
    <script src="/components/react/react.js"></script>
    <script src="/components/react/react-dom.js"></script>
    <script src="/components/react/browser.min.js"></script>
    <script src="/components/react/browser.min.js"></script>
    <script type="text/babel" src="/javascripts/book-detail.js"></script>

</head>
<body>
<div id="bookDetailApp" class="container"></div>
</body>
</html>