body {
    font-family: micon2, 'Roboto Mono', 微软雅黑, 'Microsoft Yahei', SimSun, NSimSun, SimHei, Arial, sans-serif;
    background-color:#F2F3F7;
}

.container {
    margin-top: 12px;
    background-color: #ffffff;
    min-height: 600px;
}

.book-info-container {
    padding: 30px;
    margin: 40px 0;
}

.book-img-container {
    position: relative;
    width: 260px;
    height: 261px;
    padding: 0 !important;
    float: left;
    border-bottom: 1px solid #e0e0e0;
    margin: 0 10px 0px 0;
}

.book-img-container img {
    max-width: 260px;
    max-height: 260px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 1px;
}

.book-base-container {
    height: 261px;
}

.book-base-line {
    color: #333;
    padding: 5px;
    font-size: 15px;
}



.book-name {
    font-size: 25px;
}

.book-author, .book-short-desc {
    font-style: italic;
}

.book-desc-container {
    font-size: 13px;
    clear: both;
    padding: 30px 30px !important;
    line-height: 2;
    color: #313131;
}
