body {
    background-color: #F2F3F7;
}

.content {
    position: relative;
    font-family: 'micon2', 'Roboto Mono', 微软雅黑, 'Microsoft Yahei', SimSun, NSimSun, SimHei, Arial, sans-serif;
}

.content .innerTopNav {
    text-align: center;
}

.content .innerTopNav ul {
    padding: 15px;
}

.content .innerTopNav li {
    display: inline;
    padding: 8px 20px;
    font-size: 13px;
    font-weight: bold;
    background-color: #fff;
    border-radius: 5px;
    line-height: 16px;
    cursor: pointer;
    opacity: 0.8;
    margin-left: 10px;
}

.content .innerTopNav li .icon {
    margin-right: 5px;
    font-size: 13px;
    font: inherit;
}

.content .innerTopNav li.active {
    background-color: #383838;
    color: #fff;
}

.content .book-list-container {
    position: absolute;
    width: 1100px;
    transition: all 3s;
    background: #fff;
    overflow: auto;
    left: 50%;
    margin-left: -550px;
}

.content .book-list-container .bookNode {
    float: left;
    margin: 50px 37px 30px 37px;
    height: 324px;
}

.content .book-list-container .bookNode .cover {
    width: 200px;
    height: 200px;
    padding: 0;
    cursor: pointer;
    text-align: center;
}

.content .book-list-container .bookNode .cover img {
    max-width: 200px;
    max-height: 200px;
    box-shadow: 10px 10px 20px #cecece;
}

.content .book-list-container .bookNode .name {
    margin-top: 15px;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.content .book-list-container .bookNode .operate, .content .book-list-container .bookNode .appraise {
    margin: 10px auto 0;
    font-size: 13px;
    text-align: center;
    color: #E91E63;
    height: 18px;
    line-height: 18px;
}

.content .book-list-container .bookNode .appraise i {
    margin: 0 4px;
    color: orange;
    font-size: 12px;
    font: inherit;
}

.content .book-list-container .bookNode .operate {
    margin: 5px auto 10px;
    color: green;
}

.content .book-list-container .bookNode .operate .btn {
    cursor: pointer;
    background-color: #00a51c;
    color: #fff;
    width: 30px;
    font-weight: bold;
    padding: 0px;
    padding: 4px 6px;
    border-radius: 3px;
    opacity: 0.8;
    line-height: 13px;
    display: inline;
}

.content .book-list-container .bookNode .shortDesc {
    padding: 10px;
    font-size: 13px;
    color: #9a9898;
    text-align: center;
    width: 150px;
    border-top: 1px solid #dedede;
    margin: 0 auto;
    line-height: 1.5;
}

.content .book-detail-container {
    position: absolute;
    width: 1100px;
    transition: all 3s;
    background: #fff;
    overflow: auto;
    left: 50%;
    margin-left: -550px;
    margin-bottom: 20px;
}

.content .book-info-container {
    padding: 30px;
    margin: 40px 0;
}

.content .book-img-container {
    position: relative;
    width: 260px;
    height: 261px;
    padding: 0 !important;
    float: left;
    border-bottom: 1px solid #e0e0e0;
    margin: 0 10px 0px 0;
}

.content .book-img-container img {
    max-width: 260px;
    max-height: 260px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 1px;
}

.content .book-base-container {
    height: 261px;
}

.content .book-base-line {
    color: #333;
    padding: 5px;
    font-size: 15px;
}

.content .book-name {
    font-size: 25px;
}

.content .book-author, .book-short-desc {
    font-style: italic;
}

.content .book-desc-container {
    font-size: 13px;
    clear: both;
    padding: 30px 30px !important;
    line-height: 2;
    color: #313131;
}

/**gotop*/
.gotop {
    width: 45px;
    height: 45px;
    position: fixed;
    right: 20px;
    bottom: 80px;
    font-size: 45px;
    text-align: center;
    line-height: 1;
    color: #797979;
    opacity: 0.6;
    cursor: pointer;
    display: none;
    border-radius: 5px;
    border: 1px solid #CECECE;
    background-color: #fff;
    box-shadow: 0px 2px 2px #CCC7C7;
}

.gotop:hover {
    opacity: 1;
}

.gotop.show {
    display: block;
}